In [2]:
###-1
#Python not strongly Typed
NoDataTypeVar =1
print(type(NoDataTypeVar))
NoDataTypeVar = "String"
print(type(NoDataTypeVar))
NoDataTypeVar = 3.14
print(type(NoDataTypeVar))
#print function for generating the output
#type function is used for identifying the inferred data type by Python

<class 'int'>
<class 'str'>
<class 'float'>

In [ ]:
###-2

# the function statement starts with def function name and parameters followed by :
#: colon used instead of { like other languages alignment decides where the "code" ends

In [9]:
###-3

def gcd(a,b):
    while b!=0:
      a,b =b, a%b
    return a
print(gcd(42,9))
#beware of while loops... need to ensure the condition becomes true inside the loop at some point of time
#align return to be in line with previous line and see difference in output

3

In [6]:
###-4

def gcd(a,b):
   if b == 0:  # Base case: if b is 0, a is the GCD
        return a
   else:  # Recursive step: call gcd with b and the remainder of a divided by b
        return gcd(b, a % b)
print(gcd(42,9))
#same function implemented via recursion

3

In [1]:
###-5

coins =[1,5,10,25]
amount =63
def make_change(coins,amount):
    coins.sort(reverse=True) #Ensure High denominations come first
    selCoins=[]
    for coin in coins: #Highest denomination comes first in the loop
        while amount >= coin:
            amount -= coin #selecting the coin and decreasing the amount
            selCoins.append(coin) #adding the selected coin to collection
    return selCoins
print(make_change(coins,amount))
#What if we do not sort the data .. Try and check
#What if there are constraints on denominations quantity like 25 can not be used more than once.. Play around

[25, 25, 10, 1, 1, 1]

In [5]:
###-6 Data Structure - Array
#Create an array for the date 01/01/2000
import array as arr
Y2KArray=arr.array('i',[1,1,2000])

#First element will be accessed via pointer 0. Because The pointer counts how many positions away from first element.
print(Y2KArray[2])
print(Y2KArray[1])
print(Y2KArray[0])
Y2KArray[2]=3000
print(Y2KArray) # output appears as array('i', [1, 1, 3000]) because array implements __str__ method.. Such methods we can see later

2000
1
1
array('i', [1, 1, 3000])

In [6]:
###-7 Data Structure - List
primes = []
primes = [2, 3, 5, 7, 11],
print(primes)

[2, 3, 5, 7, 11]

In [13]:
###-8 Data Structure - List Addition
items = ['C', 'O', 'G']
total_items=[]
total_items = items + ['N', 'I','Z','A','N','T']
print(total_items)

['C', 'O', 'G', 'N', 'I', 'Z', 'A', 'N', 'T']

In [14]:
###-9 Data Structure - List Addition add an Element

total_items.append('AIA')
total_items.append('AIA')
print(total_items)
total_items.remove('AIA')
print(total_items)

['C', 'O', 'G', 'N', 'I', 'Z', 'A', 'N', 'T', 'AIA', 'AIA']
['C', 'O', 'G', 'N', 'I', 'Z', 'A', 'N', 'T', 'AIA']

In [18]:
###-9 Data Structure - 2D List
MajorPlayers = [["Leander", "Paes"], ["Usha", "PT"], ["Abinav", "Bindra"]]

MajorPlayers[0][1] = "Paes : Bronze Medal"
MajorPlayers[2][1] = "Bindra : Gold Medal"
print(MajorPlayers)

[['Leander', 'Paes : Bronze Medal'], ['Usha', 'PT'], ['Abinav', 'Bindra : Gold Medal']]

In [20]:
###-9 Data Structure - Dictionary .. Column Name is called Key with the value
student_grades = {"LittleMaster": "Sachin", "Pigeon": "Glen Mcgrath", "Death Whispering": "Michael Holding"}
print(student_grades["Pigeon"])  # Fast access by key
#throws Value Error
print(student_grades["White Lightening"])

Glen Mcgrath

KeyError: 'White Lightening'

In [21]:
###-10 Compare implementation with list with the above using dictionary
Names = [("LittleMaster", "Sachin"), ("Pigeon", "Glen Mcgrath"), ("Death Whispering", "Michael Holding")]
for Name in Names:
    if Name[0] == "Pigeon":
        print(Name[1])

Glen Mcgrath

In [22]:
###-11 List Zipping and Unzipping
names = ["Alice", "Bob", "Charlie"]
ages = [25, 30, 22]

# Zipping two lists
combined_data = list(zip(names, ages))
print("Combined data:", combined_data)

# Unzipping a list of tuples
unzipped_names, unzipped_ages = zip(*combined_data)
print("Unzipped names:", unzipped_names)
print("Unzipped ages:", unzipped_ages)

Combined data: [('Alice', 25), ('Bob', 30), ('Charlie', 22)]
Unzipped names: ('Alice', 'Bob', 'Charlie')
Unzipped ages: (25, 30, 22)

In [23]:
###-12 List Comprehension

squared_numbers = [x**2 for x in range(1, 6)]

print("Squared numbers:", squared_numbers)

Squared numbers: [1, 4, 9, 16, 25]

In [24]:
###-13 Dictionary Application
text ="Don’t count the days. Make the days count"
words = text.lower().split()

word_counts = {}  # Initialize an empty dictionary
for word in words:
        if word in word_counts:
            word_counts[word] += 1
        else:
            word_counts[word] = 1
print(word_counts)

{'don’t': 1, 'count': 2, 'the': 2, 'days.': 1, 'make': 1, 'days': 1}

In [26]:
###-13 Reverse Engineer Infix to PostFix (a+b)*c  to  abc*+ ... This is a Class Room Exercise
def infix_to_postfix(infix_expression):
    precedence = {'+': 1, '-': 1, '*': 2, '/': 2, '^': 3}
    operator_stack = []
    postfix_output = []

    for char in infix_expression:
        if 'a' <= char <= 'z' or 'A' <= char <= 'Z' or '0' <= char <= '9':
            postfix_output.append(char)
        elif char == '(':
            operator_stack.append(char)
        elif char == ')':
            while operator_stack and operator_stack[-1] != '(':
                postfix_output.append(operator_stack.pop())
            if operator_stack and operator_stack[-1] == '(':
                operator_stack.pop()  # Discard '('
            else:
                raise ValueError("Mismatched parentheses")
        elif char in precedence:
            while (operator_stack and operator_stack[-1] != '(' and
                   precedence.get(operator_stack[-1], 0) >= precedence[char]):
                postfix_output.append(operator_stack.pop())
            operator_stack.append(char)
        # Handle other characters (like spaces) if necessary, or raise error for invalid characters

    while operator_stack:
        if operator_stack[-1] == '(':
            raise ValueError("Mismatched parentheses")
        postfix_output.append(operator_stack.pop())

    return "".join(postfix_output)

# Example usage:
infix_expr = "a+b*c"
postfix_expr = infix_to_postfix(infix_expr)
print(f"Infix: {infix_expr}")
print(f"Postfix: {postfix_expr}")

Infix: a+b*c
Postfix: abc*+

In [27]:
###-13 While Loop... repeat till true.. Careful Else infinite loop and StackOverFlow
count = 5

while count > 0:
    print(f"Countdown: {count}")
    count -= 1
print(count)

Countdown: 5
Countdown: 4
Countdown: 3
Countdown: 2
Countdown: 1
0

In [28]:
###-13 While Loop... repeat till break
while True:
    name = input("Enter your name (or type 'exit' to quit): ")
    if name == "exit":
        print("Goodbye!")
        break
    print(f"Hello, {name}!")

Enter your name (or type 'exit' to quit): Balachandar
Hello, Balachandar!
Enter your name (or type 'exit' to quit): Ganesan
Hello, Ganesan!
Enter your name (or type 'exit' to quit): exit
Goodbye!

In [29]:
###-13 While Loop... skip step with continue
num = 0

while num < 10:
    num += 1
    if num % 2 == 0:
        continue  #go to while loop again
    print(f"Odd number: {num}")

Odd number: 1
Odd number: 3
Odd number: 5
Odd number: 7
Odd number: 9

In [30]:
###-14 if
strAboutMe="Batsman"
if strAboutMe == "Batsman":
    print("I am a Batsman")

I am a Batsman

In [33]:
###-15 if  Else
strAboutMe="Bowler" #replace Bowler with Fielder and run one more time
if strAboutMe == "Batsman":
    print("I am a Batsman")
else:
   if strAboutMe == "Bowler":
    print("I am a Bowler")
   else:
    print("Who am I")

I am a Bowler

In [36]:
###-16 if else elif
#elif is nothing but else: if seen above
strAboutMe="Akash Raj" #replace Bowler with Fielder and run one more time
if strAboutMe == "Batsman":
    print("I am a Batsman")
elif strAboutMe == "Bowler":
    print("I am a Bowler")
elif strAboutMe == "Fielder":
    print("I am a Fielder")
elif strAboutMe == "All-Rounder":
    print("I am a All-Rounder")
elif strAboutMe == "Wicket Keeper":
    print("I am a Wicket Keeper")
elif strAboutMe == "Captain":
    print("I am a Captain")
elif strAboutMe == "Vice-Captain":
    print("I am a Vice-Captain")
else:
    print("Who am I")

Who am I

In [37]:
#17 Can you moduralize above example .. Reference below
def green_function(color):
    # Execute some code, for example print the color + number "1"
    print(f"{color} 1")
def blue_function(color):
    # Execute some code, for example print the color + number "1"
    print(f"{color} 1")
def red_function(color):
    # Execute some code, for example print the color + number "1"
    print(f"{color} 1")
def pink_function(color):
    # Execute some code, for example print the color + number "1"
    print(f"{color} 1")

colors_dict = {
    "green": green_function,
    "blue": blue_function,
    "red": red_function,
    "pink": pink_function,
}

user_input = input("")
colors_dict.get(user_input)(user_input)

red
red 1

In [38]:
#18 Mutable
name = "Jim"
student = name
name = "Tim"
print(student)  # Jim (immutable)

scores = ["A", "B"]
grades = scores
scores[1] = "C"
print(grades)  # ['A', 'C'] (mutable)

Jim
['A', 'C']

In [1]:
#19 Sets ..Set is Set in Set Theory
citrusfruit:set = {"oranges", "lemons", "limes", "satsumas", "nectarines"}
treefruit:set = {"apples", "pears", "cherries", "plums", "peaches", "plums", "cherries", "oranges", "lemons", "limes"}
stonefruit:set = {"cherries", "plums", "peaches", "nectarines"}

#tree fruit with stones
print(treefruit.intersection(stonefruit))

#tree fruit which are citrus
print(treefruit.intersection(citrusfruit))

#citrus fruit with stones
print(citrusfruit.intersection(stonefruit))

#all stone and all tree fruits
print(stonefruit.union(treefruit))

#all fruit except citrus fruit
print(stonefruit.union(treefruit).difference(citrusfruit))

{'plums', 'cherries', 'peaches'}
{'lemons', 'limes', 'oranges'}
{'nectarines'}
{'peaches', 'oranges', 'apples', 'pears', 'limes', 'plums', 'lemons', 'cherries', 'nectarines'}
{'peaches', 'apples', 'plums', 'pears', 'cherries'}

In [3]:
#19 Tuple.. Data post initialization can not be modified
geolocation = (3.00727, 80.20371)
print(f"Latitude: {geolocation[0]} Longitude: {geolocation[1]}")

Latitude: 3.00727 Longitude: 80.20371

In [4]:
#19 Tuple.. Data post initialization can not be modified
geolocation[0] = 50.0000

TypeError: 'tuple' object does not support item assignment

In [5]:
#19 Tuple.. Data post initialization can not be modified
import collections

geolocation = collections.namedtuple("geolocation", ["latitude", "longitude"])
KathiparaFlyover = geolocation(48.858093, 2.294694)

print(KathiparaFlyover.latitude)
print(KathiparaFlyover.longitude)

48.858093
2.294694

In [8]:
#21 Higher Order Function
#function with in function... intEnterNumber simply gathers the number defined with in start
def start(lstStudentsFullList):
    def intEnterNumber():
        intNumber=int(input("Enter Number Of Students"))
        return intNumber
    intNoOfStudents = intEnterNumber()
    lstStudents=lstStudentsFullList

    for intCounter in range(intNoOfStudents):
        strName=input("Enter Name of Student")
        lstStudents.append(strName)
    strContinue =input("Do You Want to Continue Y/N ?")
    if(strContinue=="Y"):
            start(lstStudents)
    else:
        return lstStudents
    return lstStudents

lstStudents=[]
start(lstStudents)
print(lstStudents)

Enter Number Of Students2
Enter Name of StudentStudent1
Enter Name of StudentStudent2
Do You Want to Continue Y/N ?Y
Enter Number Of Students1
Enter Name of StudentStudent3
Do You Want to Continue Y/N ?N
['Student1', 'Student2', 'Student3']

In [6]:
#21 Decorators
def add(x, y):

    return x + y
def multiply(x, y,z):

    return x * y*z
print(add(4,5))
print(multiply(4,5,6))

Function add called with 4 and 5
9
Function multiply called with 4 and 5
120

In [7]:
#21 Decorators
def log_args(func):
    def wrapper(*args, **kwargs):
        print(f"{func.__name__} called with {args} and {kwargs}") #please watch out the double underscore!!!!...Python has plenty of them
        return func(*args, **kwargs)
    return wrapper
@log_args
def add(x, y):

    return x + y
@log_args
def multiply(x, y,z):

    return x * y*z
print(add(4,5))
print(multiply(4,5,6))

add called with (4, 5) and {}
9
multiply called with (4, 5, 6) and {}
120

In [9]:
#21 Lambda Functions .. Puzzle requires practice
# function name = lambda arguments: expression
lambdaadd = lambda x, y: x + y
print(lambdaadd(5, 3))

8

In [13]:
#21 Lambda Function
# Traditional approach to generate squares
squares = []
for x in range(1, 6):
    squares.append(x * x)
print(squares)  # Output: [1, 4, 9, 16, 25]

# Using list comprehension for the same task
squares = [x * x for x in range(1, 6)]
print(squares)  # Output: [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]

In [14]:
#21 Lambda Function
square = lambda x: x * x
print(square(5))  # Output: 25

25

In [15]:
# Using list comprehension with lambda function to generate squares
squares = [(lambda x: x * x)(x) for x in range(1, 6)]
print(squares)  # Output: [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

In [16]:
#21 Lambda Functions
people = [
    ('A', 25),
    ('B', 30),
    ('C', 20)
]

# Sort by age
sorted_people = sorted(people, key=lambda person: person[1])
print(sorted_people)
# Output: [('Cutie', 20), ('Arsh', 25), ('Balli', 30)]

[('C', 20), ('A', 25), ('B', 30)]

In [17]:
#21 Lambda Functions
num = [1, 2, 3, 4, 5, 6]
# We want to keep only even numbers
evens = list(filter(lambda x: x % 2 == 0, num))
print(evens)
# Output: [2, 4, 6]

[2, 4, 6]

In [18]:
#22 Dunder Methods
class TransactionHistory:
    def __init__(self, transactions):
        self.transactions = transactions
        self.index = 0

history = TransactionHistory(["Deposit $100", "Withdraw $50", "Deposit $200"])
for transaction in history:
    print(transaction)

TypeError: 'TransactionHistory' object is not iterable

In [26]:
#22 Dunder Methods __iter ,__next
class TransactionHistory:
    def __init__(self, transactions):
        self.transactions = transactions
        self.index = 0

    def __iter__(self):
        return self

    def __next__(self):
        if self.index >= len(self.transactions):
            raise StopIteration
        transaction = self.transactions[self.index]
        self.index += 1
        return transaction
    def __str__(self) :
      intCounter=0
      strMessage=""
      for transaction in self.transactions:
        intCounter=intCounter+1
        strMessage=strMessage+"transaction" + str(intCounter) + " " +transaction +";"
      return strMessage



history = TransactionHistory(["Deposit $100", "Withdraw $50", "Deposit $200"])
for transaction in history:
    print(transaction)
print(history)

Deposit $100
Withdraw $50
Deposit $200
transaction1 Deposit $100;transaction2 Withdraw $50;transaction3 Deposit $200;